My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "e67d5a73-152e-45bc-b171-71c3553e6810",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1680,
        260
      ],
      "id": "36f74cf9-b43f-4d38-9034-87265f4dd611",
      "name": "Webhook",
      "webhookId": "e67d5a73-152e-45bc-b171-71c3553e6810"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appiMcPVTf8XsQYo0",
          "mode": "list",
          "cachedResultName": "Interior Design Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0"
        },
        "table": {
          "__rl": true,
          "value": "tbluJ8G5HfybUhXqJ",
          "mode": "list",
          "cachedResultName": "Call Records",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0/tbluJ8G5HfybUhXqJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cost": "={{$json.body.message.call.cost || 0}}",
            "callproviderID": "={{ $json.body.message.call.phoneCallProviderId }}",
            "started": "={{ $('Webhook').item.json.body.message.startedAt }}",
            "type": "outbound",
            "phonenumberID": "={{ $json.body.message.call.phoneNumberId }}",
            "customernumber": "={{ $json.body.message.call.customer.number}}",
            "ended": "={{ $('Webhook').item.json.body.message.endedAt }}",
            "ended reason": "={{ $('Webhook').item.json.body.message.endedReason }}",
            "transcript": "={{ $('Webhook').item.json.body.message.transcript }}",
            "Status": "Todo",
            "milliseconds": "={{ 0 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "callproviderID",
              "displayName": "callproviderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phonenumberID",
              "displayName": "phonenumberID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customernumber",
              "displayName": "customernumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "outbound",
                  "value": "outbound"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "started",
              "displayName": "started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ended",
              "displayName": "ended",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "milliseconds",
              "displayName": "milliseconds",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost",
              "displayName": "cost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ended reason",
              "displayName": "ended reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transcript",
              "displayName": "transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1160,
        120
      ],
      "id": "d2b35a56-8897-4ee4-a908-2523a4fc73ca",
      "name": "Raw Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "YGxwHwDwzyKUfpMU",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiMcPVTf8XsQYo0",
          "mode": "list",
          "cachedResultName": "Interior Design Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0"
        },
        "table": {
          "__rl": true,
          "value": "tblsP0GHlMcZHKtcS",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0/tblsP0GHlMcZHKtcS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Called",
            "Summary": "={{ $('Event = end-of-call-report').item.json.body.message.summary }}",
            "Date Time": "={{ $now }}",
            "Attempt": "Success"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": " In-Progress",
                  "value": " In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -500,
        -380
      ],
      "id": "b28eb036-af57-4568-94b3-3982ec8332d0",
      "name": "Connected Call",
      "credentials": {
        "airtableTokenApi": {
          "id": "YGxwHwDwzyKUfpMU",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "87640d60-4973-4256-8e37-e8c7fc3bf1a8",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "customer-did-not-answer",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "7d0759f2-7c19-45be-bbb9-09db3da6eacc",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "assistant-error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "bcce32ec-9fc1-4f42-b352-69ed90b8b7a6",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-error-*",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fb91210a-c14a-432b-ba6d-3c859d5972a4",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-error-first-message-failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9104cca1-09aa-4781-9400-3fa998134595",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "pipeline-no-available-llm-model",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "8717e004-1033-4a34-b827-d16c2d147501",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "phone-call-provider-closed-websocket",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "37a69a1f-b6d7-42ce-b20e-d3a8dbc6df92",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "twilio-failed-to-connect-call",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52f427ca-adbc-4364-a1c0-81c3b23d26a3",
              "leftValue": "={{ $json.fields['ended reason'] }}",
              "rightValue": "unknown-error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "fad61fe3-b7e5-4bca-be09-f22f89bdeb4a",
              "leftValue": "={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}",
              "rightValue": "voicemail",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7b24dc3c-be9b-4b7a-aa71-83eb0b13b071",
              "leftValue": "={{ $('Event = end-of-call-report').item.json.body.message.artifact.transcript }}",
              "rightValue": "leave a message",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -940,
        -100
      ],
      "id": "0d929a8c-6304-4469-92fc-a9991621ec4f",
      "name": "Condition = Answered"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appiMcPVTf8XsQYo0",
          "mode": "list",
          "cachedResultName": "Interior Design Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0"
        },
        "table": {
          "__rl": true,
          "value": "tblsP0GHlMcZHKtcS",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0/tblsP0GHlMcZHKtcS"
        },
        "filterByFormula": "=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -780,
        -320
      ],
      "id": "28a0e16d-a68a-4c71-9559-c084e33b66b5",
      "name": "Get ID",
      "credentials": {
        "airtableTokenApi": {
          "id": "YGxwHwDwzyKUfpMU",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32155059-a744-47e1-879c-f93968fe8a8a",
              "leftValue": "={{ $json.body.message.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "40542333-0e5e-4954-b552-feccbd909ae2",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        260
      ],
      "id": "b2d11e56-9e7d-4333-aeb8-6e340ced67c6",
      "name": "Event = end-of-call-report"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiMcPVTf8XsQYo0",
          "mode": "list",
          "cachedResultName": "Interior Design Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0"
        },
        "table": {
          "__rl": true,
          "value": "tblsP0GHlMcZHKtcS",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0/tblsP0GHlMcZHKtcS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Status": "Failed",
            "Summary": "={{ $('Event = end-of-call-report').item.json.body.message.summary }}",
            "Date Time": "={{ $now }}",
            "Attempt": "3"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": " In-Progress",
                  "value": " In-Progress"
                },
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempt",
              "displayName": "Attempt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "1",
                  "value": "1"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "Success",
                  "value": "Success"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -280,
        20
      ],
      "id": "be37635e-c100-4786-8401-47e56ef2db55",
      "name": "failed",
      "credentials": {
        "airtableTokenApi": {
          "id": "YGxwHwDwzyKUfpMU",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appiMcPVTf8XsQYo0",
          "mode": "list",
          "cachedResultName": "Interior Design Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0"
        },
        "table": {
          "__rl": true,
          "value": "tblsP0GHlMcZHKtcS",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appiMcPVTf8XsQYo0/tblsP0GHlMcZHKtcS"
        },
        "filterByFormula": "=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -480,
        20
      ],
      "id": "c8ac806f-db98-4bb8-89d4-3bf7c2ff7f8a",
      "name": "Get ID #3",
      "credentials": {
        "airtableTokenApi": {
          "id": "YGxwHwDwzyKUfpMU",
          "name": "Airtable Personal Access Token account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Event = end-of-call-report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Raw Data": {
      "main": [
        [
          {
            "node": "Condition = Answered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condition = Answered": {
      "main": [
        [
          {
            "node": "Get ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ID #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID": {
      "main": [
        [
          {
            "node": "Connected Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event = end-of-call-report": {
      "main": [
        [
          {
            "node": "Raw Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ID #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connected Call": {
      "main": [
        []
      ]
    },
    "Get ID #3": {
      "main": [
        [
          {
            "node": "failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7946ea3-02b7-4965-8318-a6f27d5e1464",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e398dfb84fa887a4c309d14123b6a2baf97ab7e887e8a71f7b1fc009dfe84027"
  },
  "id": "1HzM1abkpcRiKWDk",
  "tags": []
}